@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top, #0a1b33, #000814 80%);
  color: #f8fafc;
  min-height: 100vh;
}

@media (max-width: 768px){
    body {
        font-family: "Poppins", sans-serif;
        background: radial-gradient(circle at top, #0a1b33, #000814 80%);
        color: #f8fafc;
        min-height:  50vh;
    }
}

/* Container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/* Logo */
.logo {
  width: 160px;
  margin-bottom: 10px;
}

/* Title */
.title {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.proof-text {
  color: #00a4ff;
}
.chain-text {
  color: #24ff8a;
}

/* Tagline */
.tagline {
  margin-top: 4px;
  font-size: 1.1rem;
  color: #9ee7c9;
}

/* Glass Card */
.card-container {
  background: rgba(255,255,255,0.06);
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.12);
  box-shadow: 0 8px 25px rgba(0,255,180,0.1);
  backdrop-filter: blur(12px);
  width: 100%;
  max-width: 430px;
  text-align: center;
}

/* Custom Upload Button */
.upload-btn {
  display: inline-block;
  background: linear-gradient(135deg, #0057ff, #00e676);
  padding: 0.7rem 1.3rem;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.2s;
}
.upload-btn:hover {
  transform: scale(1.03);
  opacity: 0.95;
}

/* Analyze Button */
.analyze-btn {
  background: linear-gradient(135deg, #0a84ff, #24ff8a);
  padding: 0.7rem 1.3rem;
  border-radius: 12px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  transition: 0.2s;
}
.analyze-btn:hover {
  transform: scale(1.03);
  opacity: 0.95;
}

/* Result Box */
.result-box {
  text-align: left;
  margin-top: 1rem;
  padding: 1rem;
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
}
.result-box .msg {
  color: #24ff8a;
  font-weight: bold;
}

/* Footer */
.footer {
  margin-top: 3rem;
  opacity: 0.6;
  font-size: 0.9rem;
}

html.dark body {
  background: linear-gradient(circle at top, #0a1b33, #000814 80%);
  color: #F8FAFC;
}

html.light body {
  background: #F8FAFC;
  color: #0A192F;
}

.theme-button{
    margin-left: 1900%;
}